<div class="container">
  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Alakazam.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Aerodactyl.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Abra.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Arbok.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Arcanine.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Articuno.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Beedrill.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Bellsprout.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Blastoise.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Bulbasaur.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Butterfree.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Caterpie.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Chansey.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Charizard.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Charmander.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Charmeleon.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Clefable.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Clefairy.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Cloyster.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Cubone.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Dewgong.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Diglett.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Ditto.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Dodrio.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Doduo.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Dragonair.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Dragonite.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Dratini.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Drowzee.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Dugtrio.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Eevee.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Ekans.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Electabuzz.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Electrode.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Exeggcute.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Exeggutor.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Farfetch.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Fearow.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Flareon.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Gastly.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Gengar.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Geodude.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Gloom.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Golbat.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Goldeen.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Golduck.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Golem.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Graveler.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Grimer.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Growlithe.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Gyarados.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Haunter.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Hitmonchan.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Hitmonlee.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Horsea.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Hypno.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Ivysaur.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Jigglypuff.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Jolteon.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Jynx.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Kabuto.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Kabutops.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Kadabra.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Kakuna.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Kangaskhan.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Kingler.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Koffing.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Krabby.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Lapras.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Lickitung.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Machamp.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Machoke.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Machop.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Magikarp.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Magmar.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Magnemite.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Magneton.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Mankey.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Marowak.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Meowth.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Metapod.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Mew.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Mewtwo.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Moltres.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Mr.Mime.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Muk.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Nidoking.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Nidoqueen.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/NidoranF.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Nidorina.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Nidorino.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Ninetales.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Oddish.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Omanyte.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Omastar.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Onix.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Paras.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Parasect.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Persian.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Pidgeot.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Pidgeotto.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Pidgey.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Pikachu.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Pinsir.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Poliwag.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Poliwhirl.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Poliwrath.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Ponyta.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Porygon.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Primeape.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Psyduck.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Raichu.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Rapidash.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Raticate.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Rattata.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Rhydon.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Rhyhorn.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Sandshrew.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Sandslash.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Scyther.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Seadra.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Seaking.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Seel.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Shellder.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Slowbro.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Slowpoke.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Snorlax.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Spearow.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Squirtle.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Starmie.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Staryu.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Tangela.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Tauros.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Tentacool.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Tentacruel.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Vaporeon.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Venomoth.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Venonat.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Venusaur.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Victreebel.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Vileplume.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Voltorb.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Vulpix.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Wartortle.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Weedle.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Weepinbell.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Weezing.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Wigglytuff.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Zapdos.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/pokemon/Zubat.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/imagenes/entrenadores/Brock.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/imagenes/entrenadores/Misty.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/imagenes/entrenadores/Jessie.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/imagenes/entrenadores/James.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/imagenes/entrenadores/Tracey.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="../../assets/imagenes/entrenadores/Ash.png"></div>
  </div>

</div>

