<nav class="navbar navbar-inverse" style="background-color: black">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLink]="['/home']"><img src="../assets/imagenes/LogoPokemon.png" alt="Imagen pokemon" height="50px" ></a>
    </div>
    <ul class="nav navbar-nav" >
      <li class="active"><a href="/" style="color: yellow">Home</a></li>
      <li><a [routerLink]="['/entrenador']" style="color: yellow">Entrenadores</a></li>
      <li><a [routerLink]="['/entrenador','2','pokemon']" style="color: yellow">Pokémon</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://github.com/TaniaMaricela" target="_blank"><span class="glyphicon glyphicon-user"></span> Tania Guamushig</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

